<!DOCTYPE html>
<html>
  <head>
      <title>Zodiac App</title>
<!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
      <style>
 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 main {
   flex: 1 0 auto;
 }
 
 p {
    
 }
      </style>
  </head>
  <body>
      <nav>
   <div class="nav-wrapper teal darken-3">
     <a href="/" class="brand-logo">Horoscope/Zodiac</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/about-me">About Us</a></li>
       <li><a href="/contact">Contact Us</a></li>
     </ul>
   </div>
 </nav>
      <main class="container">
           <form action="/" method="Post">
              <h2>Hello Beautiful Children!</h2>
              <p>Enter A Birthday</p>
              <input type="date" name="bday"/>
              <button type="submit" class="btn btn-primeary">Submit</button>
          </form>
        </main>
          <footer class="page-footer teal">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Created by - Albert & Alejandro</h5>
               <p class="grey-text text-lighten-4">This Website Allows You To Enter In Any Date Of BIrth And Returns Your Zodiac, The Logo, And Your Daily Horoscope!</p>
             </div>
             <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Information</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!">Phone: (323)744-2122</a></a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Adress: 10720 Wilmington Ave, Los Angeles, CA 90059</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Gmail: SexyFunTime@gmail.com </a></li>
                 <li><a class="grey-text text-lighten-3" href="#!"></a></li>
               </ul>
               <ul>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer">
           <div class="container">
         
           </div>
         </div>
       </footer>
  </body>
</html>