<!DOCTYPE html>
<html>
  <head>
      <title>Back To Home</title>
<!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
      <style>
 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
             
      </style>
  </head>
  <body>
        <nav>
   <div class="nav-wrapper red">
     <a href="/" class="brand-logo">Back To Home</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/about-me">About Us</a></li>
       <li><a href="/contact">Contact Us</a></li>
     </ul>
   </div>
 </nav>
      <main class="container">
         

          <h1>Results</h1>
          <p>You are a <%= zodiac %></p>
          <img src="<%= image %>" />
          <p> Your Daily Horoscope is: <%= data %></p>

       </main>

 <footer class="page-footer red ">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Created by - Albert & Alejandro</h5>
               <p class="grey-text text-lighten-4">This Website Allows You To Enter In Any Date Of BIrth And Returns Your Zodiac, The Logo, And Your Daily Horoscope!</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Zodiac Possibilites</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!">Set 1 "Aries-Taurus-Gemini-Cancer"</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Set 2 "Leo-Virgo-Libra-Scorpio"</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Set 3 "Sagittarius-Capricorn-Aquarius-Pisces"</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!"></a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2018 Copyright Text
           </div>
         </div>
       </footer>        
  </body>
</html>